# JSON in Python

This notebook demonstrates how to work with JSON in Python, including reading, writing, and manipulating JSON data.

In [1]:
import json

## Basic JSON Example

In [2]:
basic_json = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "hobbies": ["reading", "cycling", "photography"],
    "married": False
}

print(json.dumps(basic_json, indent=2))

{
  "name": "John Doe",
  "age": 30,
  "city": "New York",
  "hobbies": [
    "reading",
    "cycling",
    "photography"
  ],
  "married": false
}

## Triple Nested JSON Example

In [3]:
nested_json = {
  "company": {
    "name": "Tech Innovations Inc.",
    "founded": 2010,
    "locations": [
      {
        "city": "San Francisco",
        "address": {
          "street": "123 Tech Avenue",
          "zipcode": "94105",
          "coordinates": {
            "latitude": 37.7749,
            "longitude": -122.4194
          }
        },
        "employees": 500
      },
      {
        "city": "New York",
        "address": {
          "street": "456 Digital Lane",
          "zipcode": "10001",
          "coordinates": {
            "latitude": 40.7128,
            "longitude": -74.0060
          }
        },
        "employees": 300
      }
    ],
    "departments": ["Engineering", "Design", "Marketing", "Sales"]
  }
}

print(json.dumps(nested_json, indent=2))

{
  "company": {
    "name": "Tech Innovations Inc.",
    "founded": 2010,
    "locations": [
      {
        "city": "San Francisco",
        "address": {
          "street": "123 Tech Avenue",
          "zipcode": "94105",
          "coordinates": {
            "latitude": 37.7749,
            "longitude": -122.4194
          }
        },
        "employees": 500
      },
      {
        "city": "New York",
        "address": {
          "street": "456 Digital Lane",
          "zipcode": "10001",
          "coordinates": {
            "latitude": 40.7128,
            "longitude": -74.006
          }
        },
        "employees": 300
      }
    ],
    "departments": [
      "Engineering",
      "Design",
      "Marketing",
      "Sales"
    ]
  }
}

## Reading JSON from a string

In [4]:
json_string = '{"name": "Alice", "age": 30}'
data = json.loads(json_string)
print(data['name'])
print(data['age'])

Alice
30

## Writing JSON to a string

In [8]:
data = json.loads(json_string)
json_string = json.dumps(data, indent=2)
print(type(json_string))
print(json_string)

<class 'str'>
{
  "name": "Bob",
  "age": 25,
  "city": "New York"
}

## Reading JSON from a file

In [9]:
# First, let's create a JSON file
with open('data.json', 'w') as file:
    json.dump({"name": "Charlie", "age": 35}, file)

# Now, let's read it
with open('data.json', 'r') as file:
    data = json.load(file)
print(data)

{'name': 'Charlie', 'age': 35}

## Writing JSON to a file

In [ ]:
data = {"name": "David", "age": 40, "city": "London"}
with open('output.json', 'w') as file:
    json.dump(data, file, indent=2)

# Let's read it back to confirm
with open('output.json', 'r') as file:
    print(file.read())

## Exercises

### Exercise 1: Create a movie collection

1. Create a Python dictionary representing a movie collection
2. Include title, director, year, and actors (as a list)
3. Convert it to a JSON string
4. Write it to a file named 'movies.json'
5. Read the file back and print the director's name

In [ ]:
# Your code here

### Exercise 2: Accessing nested JSON

Using the `nested_json` variable defined earlier:

1. Print the company name
2. Print the number of employees in San Francisco
3. Print the latitude of the New York office
4. Add a new department called "Human Resources"
5. Change the street address of the San Francisco office to "789 Innovation Blvd"
6. Print the updated JSON

In [ ]:
# Your code here

### Exercise 3: Create and manipulate complex JSON

1. Create a JSON structure representing a school with multiple classes, each containing students with their grades in different subjects
2. Add a new student to one of the classes
3. Calculate and print the average grade for each class
4. Find and print the name of the student with the highest overall average across all subjects

In [ ]:
# Your code here